@import "tailwindcss";

@property --angle {
  syntax: "<angle>";
  initial-value: 135deg;
  inherits: false;
}

:root {
  --primary: #232325;
  --secondary: #2a2a2e;
  --foreground: #dedfdf;
  --dark-gray: #353538;
  --background: #19191b;
  --red-orange: #c42222;
  --light-gray: #8d8d8d;

  --glass-black: rgba(0, 0, 0, 0.6);
  --cool-red: rgb(112, 39, 2);

  --font-montserrat: "Montserrat", sans-serif;

  --dark-gray: #686868;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

body {
  background-color: var(--background);
  background: linear-gradient(
    var(--angle),
    #140505 0%,
    #0d0b10 45%,
    #050407 100%
  );

  color: var(--foreground);
  margin: 0;
  padding: 0;

  min-height: 100vh;
  min-width: 100vw;
  animation: radialGradient 10s linear infinite;
}

@keyframes radialGradient {
  0% {
    --angle: 135deg;
  }
  100% {
    --angle: 495deg;
  }
}
