.workout-table-container {
  width: 100%;
  background-color: #1c1c1c33;
  border-radius: 0.5rem; /* rounded-lg */
  border: 1px solid #121212;
  border-bottom: 1px solid #252424;
  backdrop-filter: blur(10px);
}

.workout-table-header {
  background-color: #00000099;
  backdrop-filter: blur(10px);
  border: 1px solid #121212;
}

.workout-table-body {
  background-color: #1c1c1c26;
  box-shadow: inset 0 -2px 4px #00000080;
}

/* Ensure pseudo-elements don't block text selection */
.workout-table-body tr::before,
.workout-table-body tr::after,
.workout-table-body td::before,
.workout-table-body td::after {
  pointer-events: none;
  user-select: none;
}

hr.lift-row-divider {
  border: none;
  height: 2px;
  background-color: rgb(16, 15, 15);
  box-shadow: 0 1px 1px rgb(45, 45, 45);
  margin: 0.5rem auto;
  width: 97%;
  pointer-events: none;
  user-select: none;
}
