.glass-card {
  position: relative;
  border-radius: 5px;

  border: 0.5px solid #311a125d;
  background:
    linear-gradient(0deg, #000000 0%, #000000 100%),
    conic-gradient(
      from 135deg at 50.24% 99.67%,

      360deg,
      #000000 0deg,
      #300f01 270deg,
      #000000 360deg
    );
}

.glass-background {
  box-shadow: #000000 0px 1rem 1.5rem 0rem;
  background-color: #000000;
  backdrop-filter: blur(10px);
  opacity: 0.3;
  -webkit-backdrop-filter: blur(10px);
}
