@property --angle {
  syntax: "<angle>";
  initial-value: 185deg;
  inherits: false;
}

.glass-card {
  position: relative;
  border-radius: 5px;

  border: 0.5px solid #311a125d;
  background:
    linear-gradient(0deg, #00000000 0%, #000000 100%),
    conic-gradient(
      from 135deg at 50.24% 99.67%,

      360deg,
      #00000030 0deg,
      #300f0130 270deg,
      #00000030 360deg
    );
}

.glass-background {
  box-shadow: #00000080 0px 1rem 1.5rem 0rem;
  background-color: #0000004d;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
