.input-group {
  border: 1px solid rgb(25, 24, 24);
  background-color: rgba(21, 21, 21, 0.5);
  border-bottom: 1px solid rgba(37, 36, 36, 1);
}

.input-border {
  border: 1px solid rgb(25, 24, 24);

  border-bottom: 1px solid rgba(37, 36, 36, 1);
}
